@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* CALC BODY */
.calc {
    border: 3px solid #ffb4b4;
    border-radius: 10px;
    background-color: #ffd0cf;
    padding: 20px;
}


/* BUTTONS */
.btn {
    height: 70px;
    width: 70px;
    margin: 4px;
    font-size: 25px;
    border: 2px solid #ffb4b4;
    background-color: #ffedec;
    border-radius: 8px;
}

img {
    height: 25px;
    width: auto;
}

.btn:hover {
    background-color: #ffff;
    color: #ffb4b4;
}

#long {
    height: 70px;
    width: 153px;
}

.row-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    margin-left: 3px;
}

/* SCREEN */
.screen {
    width: 315px;
    height: 90px;
    border: 2px solid #ffb4b4;
    background-color: #ffff;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: right;
}

.prev {
    font-size: 20px;
    min-height: 32px;
    margin-right: 9px;
    margin-top: 5px;
}

.current {
    font-size: 45px;
    min-height: 64px;
    margin-right: 7px;
}